# Phase 5: Vérification (_Verification_)

Cette section couvre la phase 5 du cadre de développement SDL, soit la vérification [[SDL5]](#sdl5).

## Pratique #11: Effectuer de l'analyse dynamique 
_SDL Practice #11: Perform Dynamic Analysis_

## Pratique #12: Effectuer des tests à données aléatoires
_SDL Practice #12: Perform Fuzz Testing_

## Pratique #13: Revoir la surface d'attaque
_SDL Practice #13: Conduct Attack Surface Review_



<br/>

###### Références
|||
|---| ---|
|[SDL5] | <a name="sdl5"></a>[Security Development Lifecycle, Phase 5: Verification](https://www.microsoft.com/en-us/SDL/process/verification.aspx), Microsoft|
