<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Home Page</title>
</head>
<body>
    <<div layout:fragment="content" th:remove="tag">
        <div th:each="post : ${posts}">
            <a href="/post/display.html" th:href="@{/post/{id}(id=${post.id})}"><h1 th:text="${post.title}">My post</h1></a>
            <p>
                Posted by <span th:text="${{post.user.displayName}}">admin</span>
                on <span th:text="${post.createdDatePretty}">2018-11-14 18:55</span>
            </p>
        </div>
    </div>
</body>
</html>